<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Purchase</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">

    <style>
        body {
            padding: 20px;
        }

        .container {
            max-width: 500px;
        }
    </style>
</head>

<body>

<div class="container mt-4">
    <h4 class="mb-4">Add a purchase with the cost in foreign currency to be converted to PLN</h4>

    <form action="#" th:action="@{/conversion/result}" th:object="${transaction}" method="POST">
        <div class="mb-3">
            <input type="text" th:field="*{itemName}" class="form-control" placeholder="Item name" required>
        </div>

        <div class="mb-3">
            <select th:field="*{currencyCode}" class="form-select">
                <option selected value="">Select currency</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="CHF">CHF</option>
            </select>
        </div>

        <div class="mb-3">
            <input type="number" th:field="*{costCurrency}" class="form-control" placeholder="Amount in foreign currency" required>
        </div>

        <div class="mb-3">
            <input type="date" th:field="*{date}" class="form-control" placeholder="Date" required>
        </div>

        <button type="submit" class="btn btn-info">Convert</button>
    </form>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>