
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>

    <title>
        Purchase list
    </title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <h3>Purchase list</h3>
    <hr>

    <!--    @ is the context path-->
    <a th:href="@{/conversion/form}" class="btn btn-primary btn-sm mb-3">
        Add purchase
    </a>
    <br>

    <form action="#" th:action="@{/conversion/list}" th:object="${formInput}"  method="post">

        Search purchase by item name: <input type="text" th:field="*{content}" />

        <input type="submit" value="Search" class="add-button"/>

    </form>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Currency code</th>
            <th>Cost in currency</th>
            <th>Cost in PLN</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction:${transactions}">

            <td th:text="${transaction.itemName}"/>
            <td th:text="${transaction.date}"/>
            <td th:text="${transaction.currencyCode}"/>
            <td th:text="${transaction.costCurrency}"/>
            <td th:text="${transaction.costPln}"/>
            <td>
                <a th:href="@{/conversion/invoice(transactionId=${transaction.id})}" class="btn btn-info btn-sm">
                    Download invoice
                </a>
                <!--                <a th:href="@{/employees/delete(employeeId=${transaction.id})}" class="btn btn-danger btn-sm">-->
                <!--                    Delete-->
                <!--                </a>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>