<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Purchase List</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">

    <style>
        body {
            padding: 20px;
        }

        .container {
            max-width: 800px;
        }

        .add-button {
            margin-top: 10px;
        }
    </style>
</head>

<body>

<div class="container mt-4">
    <h3>Purchase List</h3>
    <hr>

    <a th:href="@{/conversion/form}" class="btn btn-primary btn-sm mb-3">Add Purchase</a>
    <br>

    <form action="#" th:action="@{/conversion/list}" th:object="${formInput}" method="post">
        <div class="mb-3">
            <label for="content" class="form-label">Search Purchase by Item Name:</label>
            <input type="text" th:field="*{content}" class="form-control"/>
        </div>
        <input type="submit" value="Search" class="btn btn-primary add-button"/>
    </form>

    <form action="#" th:action="@{/conversion/searchDate}" th:object="${formInput}" method="post">
        <div class="mb-3">
            <label for="date" class="form-label">Search Purchase by Purchase Date:</label>
            <input type="date" th:field="*{date}" class="form-control"/>
        </div>
        <input type="submit" value="Search" class="btn btn-primary add-button"/>
    </form>

    <table class="table table-bordered table-striped mt-4">
        <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Currency Code</th>
            <th>Cost in Currency</th>
            <th>Cost in PLN</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction:${transactions}">
            <td th:text="${transaction.itemName}"></td>
            <td th:text="${#dates.format(transaction.date, 'dd-MM-yyyy')}"></td>
            <td th:text="${transaction.currencyCode}"></td>
            <td th:text="${transaction.costCurrency}"></td>
            <td th:text="${transaction.costPln}"></td>
            <td>
                <a th:href="@{/conversion/invoice(transactionId=${transaction.id})}" class="btn btn-info btn-sm">Show
                    Info</a>
                <a th:href="@{/conversion/delete(transactionId=${transaction.id})}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>